<header class="header">
  <div class="header__main">
    <div class="header__container">
      <div class="header__body">
        <a href="./index.html" class="custom-logo-link">
          <span><img src="./img/icons/logo.svg" alt="Logo" /></span>
          <span><img src="./img/icons/logo_n.svg" alt="Logo" /></span>
        </a>

        <load src="partials/header/parts/navmenu.html" />

        <load src="partials/header/parts/actions.html" />

        <button type="button" class="burger" aria-label="Open menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>

  <load src="partials/header/parts/mobmenu.html" />
</header>
