<div class="banner">
  <!--  data-spdesc - швидкість на десктопі, data-spmob - швидкість на телефоні  -->
  <div class="banner__carousell" data-spdesc="15" data-spmob="25" data-reverse>
    <ul class="banner__list carseFirst">
      <li class="banner__item">
        <div class="banner__box">
          <p>banner 1</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <p>banner 2</p>
        </div>
      </li>
    </ul>

    <ul class="banner__list carseSecond">
      <li class="banner__item">
        <div class="banner__box">
          <p>banner 1</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <p>banner 2</p>
        </div>
      </li>
    </ul>
  </div>
</div>
