html,
body {
  font-optical-sizing: auto;
  font-family: var(--ff);
  background-color: var(--cb);
  color: var(--cw);
  font-size: 16px;
  line-height: 1.5;
}

.overhide {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

main,
.main {
  flex: 1 1 auto;
  padding-bottom: 11rem;
}

[class*="__container"] {
  max-width: 86.25rem;
  padding: 0 1.875rem;
  margin: 0 auto;
}

/* --------- Adaptive desktop (1380px) --------- */

@media screen and (max-width: 1380px) {
  html,
  body {
    font-size: 1.15942vw;
  }
}

/* --------- Adaptive tablet (960px) --------- */

@media screen and (max-width: 960px) {
  html,
  body {
    font-size: 16px;
  }

  main,
  .main {
    padding-bottom: 6rem;
  }

  [class*="__container"] {
    padding: 0 1rem;
  }
}

/* --------- Adaptive mobile (375px) --------- */

@media screen and (max-width: 375px) {
  html,
  body {
    font-size: 4.26vw;
  }
}
