.wrapper {
  // ============== Splide ==============
  .splide__list {
    display: flex !important;
  }
  .splide__pagination {
    margin-top: 1rem;
    position: static;
    padding: 0;
    bottom: 0;
    gap: 0 0.5rem;
    li {
      display: flex;
    }
  }
  .splide__pagination__page {
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0;
    background-color: var(--cd2);
    transition: all 0.15s ease-in;
    opacity: 0.24;
    &.is-active {
      transform: none;
      opacity: 1;
    }
  }
}
