<footer class="footer">
  <div class="footer__body">
    <div class="footer__container">
      <div class="footer__info">
        <a href="./index.html" class="custom-logo-link">
          <span><img src="./img/icons/logo.svg" alt="Logo" /></span>
          <span><img src="./img/icons/logo_n.svg" alt="Logo" /></span>
        </a>

        <div class="footer__desc">
          <p>
            SVV Poland sp z o.o is not a bank and is not providing any banking
            or related financial services (in terms of the charter of the day of
            September 29, 1997 – Dzinnik charter 2023.2488 t.zh., the charter of
            the day of September 19, 2011 – Dzinnik charter of 2011 No. 199 item
            1175).<br />
            SVV Poland sp z o.o is doing business as BTCbnk.
          </p>
        </div>

        <div class="footer__secure">
          <p>Your funds are secure.</p>
          <ul>
            <li>
              <img src="./img/icons/secur_1.svg" alt="" />
            </li>
            <li>
              <img src="./img/icons/secur_2.svg" alt="" />
            </li>
            <li>
              <img src="./img/icons/secur_3.svg" alt="" />
            </li>
          </ul>
        </div>
      </div>

      <nav class="footer__nav">
        <div class="footer__list anchor-links">
          <p>Company</p>
          <ul>
            <li class="menu-item">
              <a href="#answers">About Us</a>
            </li>
            <li class="menu-item"><a href="#">Contacts</a></li>
            <li class="menu-item"><a href="#answers">Support</a></li>
          </ul>
        </div>

        <div class="footer__list">
          <p>Document</p>
          <ul>
            <li class="menu-item"><a href="#">Public Contract</a></li>
            <li class="menu-item"><a href="#">Legal information</a></li>
          </ul>
        </div>

        <div class="footer__list">
          <p>Social media</p>
          <ul>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                Twitter
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                Facebook
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                Linkedin
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__container">
      <p>© 2025 BTCBnk - All Rights Reserved</p>
      <a href="./policy.html">Privacy policy</a>
    </div>
  </div>
</footer>
