.product__heading {
  margin-bottom: 2.5rem;
  .tl2 {
    margin-bottom: 1rem;
  }
  .txt1 {
    max-width: 44.5rem;
  }
}
.product__cards {
  display: grid;
  grid-template-columns: 1fr 26.5rem;
  gap: 1.5rem;
}

.card-prod {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  min-height: 19rem;
  &.is-destroy {
    .ac-panel {
      overflow: visible !important;
      visibility: visible !important;
      opacity: 1 !important;
    }
    .graph {
      height: 100% !important;
      visibility: visible !important;
      opacity: 1 !important;
    }

    &:nth-child(3) {
      .graph {
        height: 17rem !important;
      }
    }
  }
  &:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  &:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
  }
  &:nth-child(3) {
    grid-area: 1 / 2 / 3 / 3;

    .card-prod__box {
      padding-bottom: 16.125rem;
    }
    .card-prod__mark {
      margin-bottom: 1.5rem;
    }
    .card-prod__content {
      .tl3 {
        margin-bottom: 1.5rem;
      }
    }

    .graph {
      top: auto;
      bottom: 1rem;
      right: 0;
      width: 100%;
      height: 17rem;
    }
    .graph__img {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(0);
      top: auto;
      right: auto;
    }
  }
}
.card-prod__box {
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 1.9375rem;
  background-color: var(--cb2);
}
.card-prod__mark {
  display: block;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  border-radius: 2rem;
  background: rgba(252, 252, 252, 0.12);
  color: var(--cw3);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.71;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.card-prod__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  max-width: 40.5rem;
  .tl3 {
    margin-bottom: 1rem;
  }
  .txt3 {
    margin-bottom: 2rem;
  }
  .btn-def {
    margin-top: auto;
  }
}

.graph {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 1rem;
  height: 100%;
  width: 24.1875rem;
  .btn-def {
    display: none;
  }
}
.graph__img {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  max-width: 24.1875rem;
  img {
    width: 100%;
  }
}
.graph__info {
  position: absolute;
  z-index: 2;
  bottom: 2.75rem;
  right: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  li {
    color: var(--cd3);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.03em;
  }
}
.graph__wallet {
  position: absolute;
  z-index: 2;
  bottom: 1.5rem;
  left: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

@media screen and (max-width: 960px) {
  .product__heading {
    margin-bottom: 1.5rem;
    .txt1 {
      max-width: 100%;
    }
  }
  .product__cards {
    grid-template-columns: 1fr;
  }

  .card-prod {
    min-height: 16.875rem;
    &.is-destroy {
      &:nth-child(3) {
        .graph {
          height: 100% !important;
        }
      }
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      grid-area: auto;
    }
    &:nth-child(3) {
      .card-prod__box {
        padding-bottom: 1.4375rem;
      }
      .card-prod__mark {
        margin-bottom: 1rem;
      }
      .card-prod__content {
        .tl3 {
          margin-bottom: 0.5rem;
        }
      }

      .graph {
        top: 0;
        bottom: auto;
        right: 1rem;
        width: 21.6875rem;
        height: 100%;
      }
      .graph__img {
        top: 50%;
        bottom: auto;
        right: 0;
        left: auto;
        transform: translateX(0) translateY(-50%);
      }
    }
  }
  .card-prod__box {
    padding: 1.4375rem 0.9375rem;
  }
  .card-prod__mark {
    font-size: 0.75rem;
    line-height: 1.66;
  }
  .card-prod__content {
    max-width: 50%;
    .tl3 {
      margin-bottom: 0.5rem;
    }
    .btn-def {
      margin: auto 0 0 0;
    }
  }

  .graph {
    width: 21.6875rem;
  }
  .graph__img {
    max-width: 21.6875rem;
  }
  .graph__info {
    bottom: 1.5rem;
    li {
      font-size: 1.125rem;
    }
  }
  .graph__wallet {
    left: auto;
    right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .card-prod {
    position: relative;
    min-height: auto;
    &::after {
      content: "";
      position: absolute;
      z-index: 3;
      top: 1.625rem;
      right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      background-size: 1.5rem 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: var(--vectorLangGrey);
      transition: all 0.25s ease-in;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
          95deg,
          rgba(229, 74, 210, 0.16) -16.9%,
          rgba(50, 20, 162, 0.16) 117.86%
        ),
        linear-gradient(180deg, #181818 0%, #111 100%);
    }

    &.isOpened {
      &::after {
        transform: rotateX(180deg);
      }
      .card-prod__panel {
        max-height: 80.5vw;
      }
      .card-prod__box {
        background-color: transparent;
      }
    }

    &:nth-child(3) {
      .card-prod__box {
        padding-bottom: 0.9375rem;
      }

      .graph {
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        width: 100%;
        transform: translateX(0);
      }
      .graph__img {
        top: auto;
        bottom: 1.4375rem;
        right: auto;
        left: 50%;
        transform: translateX(-50%) translateY(0);
        max-width: 100%;
      }
    }
  }
  .card-prod__box {
    padding: 1.4375rem 0.9375rem;
    transition: all 0.35s ease-in;
  }
  .card-prod__mark {
    margin-right: 1.875rem;
  }
  .card-prod__content {
    max-width: 100%;
    .btn-def {
      display: none;
      margin: auto auto 0 auto;
    }
    .txt3 {
      margin-bottom: 0;
    }
  }

  .card-prod__panel {
    transition: all 0.35s ease-in;
    overflow: hidden;
    max-height: 0;
  }

  .graph {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 76vw !important;
    bottom: auto;
    left: auto;
    transform: translateX(0);
    top: auto;
    right: auto;
    .btn-def {
      display: flex;
      position: relative;
      z-index: 3;
    }
  }
  .graph__img {
    bottom: 1.4375rem;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    top: auto;
    right: auto;
    max-width: 100%;
  }
  .graph__info {
    right: auto;
    left: 1rem;
    bottom: 0;
  }
  .graph__wallet {
    right: auto;
    left: 1rem;
    bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .card-prod {
    &.isOpened {
      .card-prod__panel {
        max-height: 87vw;
      }
    }
  }
  .graph {
    height: 80vw !important;
  }
}
