<div class="actions">
  <ul class="actions__lang">
    <li>
      <a href="#">UA</a>
      <ul class="sub-menu">
        <li class="current-lang">
          <a href="#">EN</a>
        </li>
      </ul>
    </li>
  </ul>

  <ul class="actions__soc">
    <li>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <img src="./img/icons/soc_1.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <img src="./img/icons/soc_2.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <img src="./img/icons/soc_3.svg" alt="" />
      </a>
    </li>
  </ul>
</div>
