<nav class="navmenu">
  <ul class="navmenu__list anchor-links">
    <li class="menu-item"><a href="#answers">About</a></li>
    <li class="menu-item menu-item-has-children">
      <a href="#">Solutions</a>
      <ul class="sub-menu">
        <li>
          <a href="https://wallet.btcbnk.io/en/">Wallet</a>
        </li>
        <li>
          <a href="https://trade.btcbnk.io/">OTC Desk</a>
        </li>
        <li>
          <a href="https://finance.btcbnk.io/">Finance Solutions</a>
        </li>
      </ul>
    </li>
    <li class="menu-item"><a href="#">Enterprise</a></li>
    <li class="menu-item"><a href="#answers">Support</a></li>
  </ul>
</nav>
