body {
  /* Colors */
  --cw: #f6f6f6;
  --cw2: #fff;

  --cb: #0d0d0d;
  --cb2: #181818;
  --cb3: #040206;

  --cd: #d1d1d1;
  --cd2: #d9d9d9;

  --ce: #888;
  --ce2: #747474;

  --ch: #b0b0b0;

  --ct: #3d3d3d;

  --cc: #c440c9;
  --cc2: #e54bd2;

  --cv: #5099e0;

  /* Fonts */
  --ff: "Inter", sans-serif;
}
