<section class="advant">
  <div class="advant__container">
    <ul class="advant__cards">
      <li class="card-advant brgrad">
        <div class="card-advant__box">
          <div class="card-advant__icon">
            <img src="./img/content/advant_1.png" alt="" />
          </div>
          <h2 class="tl4">Customer Satisfaction</h2>
          <div class="txt3 tch">
            <p>
              We prioritize our customers’ needs, ensuring high-quality service
              and solutions tailored to their expectations.
            </p>
          </div>
        </div>
      </li>
      <li class="card-advant brgrad">
        <div class="card-advant__box">
          <div class="card-advant__icon">
            <img src="./img/content/advant_2.png" alt="" />
          </div>
          <h2 class="tl4">Trust & Reliability</h2>
          <div class="txt3 tch">
            <p>
              We build long-term relationships based on transparency, integrity,
              and dependability.
            </p>
          </div>
        </div>
      </li>
      <li class="card-advant brgrad">
        <div class="card-advant__box">
          <div class="card-advant__icon">
            <img src="./img/content/advant_3.png" alt="" />
          </div>
          <h2 class="tl4">Service Excellence</h2>
          <div class="txt3 tch">
            <p>
              We are committed to delivering outstanding service, maintaining
              high standards in every interaction
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
