<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__content">
        <h1 class="tl1 stlgrad">
          Next-Gen <span>Brokerage Solutions</span> for Your Growth
        </h1>
        <div class="txt1 tcw">
          <p>
            Unlock the full potential of finance, cryptocurrency, and OTC
            trading with our cutting-edge brokerage platform. Offering secure
            transactions, liquidity optimization, and institutional-grade
            execution, we support businesses in scaling their financial
            operations efficiently.
          </p>
        </div>
        <a href="#" class="btn-def"><span>Get Started</span></a>
      </div>
    </div>
  </div>

  <div class="hero__wrapp">
    <div class="hero__stars no-select">
      <img src="./img/decor/stars.png" alt="" />
    </div>
    <div class="hero__planet no-select">
      <img src="./img/decor/planet.png" alt="" />
    </div>
    <div class="hero__filter"></div>
  </div>
</section>
