<section class="limit pdt1">
  <div class="limit__container">
    <div class="limit__body">
      <div class="limit__content">
        <h2 class="tl2">Market Limitations</h2>

        <div class="txt1 tch">
          <p>
            Certain restrictions may apply based on regional regulations. Our
            platform ensures compliance while providing the best possible access
            to global markets.
          </p>
        </div>

        <ul class="limit__items">
          <li>USA Markets</li>
          <li>Sanctioned Countries</li>
        </ul>
      </div>

      <div class="limit__filter1" aria-hidden="true"></div>
      <div class="limit__filter2" aria-hidden="true"></div>

      <div class="limit__ico1 no-select">
        <img src="./img/content/limit_1.png" alt="" />
      </div>
      <div class="limit__ico2 no-select">
        <img src="./img/content/limit_1.png" alt="" />
      </div>

      <div class="limit__check no-select">
        <img src="./img/content/limit_check.png" alt="" />
      </div>
    </div>
  </div>
</section>
