<section class="partners pdt1 tabs">
  <div class="partners__container">
    <div class="partners__headnig">
      <h2 class="tl2">Looking for Partnership?</h2>
      <div class="txt3 tch">
        <p>
          Whether you’re looking to integrate our solutions, co-develop new
          opportunities, or explore strategic partnerships, we’re here to
          discuss how we can work together.
        </p>
      </div>
    </div>

    <div class="partners__switch">
      <ul>
        <li> 
          <button
            type="button"
            class="tabs__btn isActive"
            data-tab="form-corporate"
          >
            Corporate
          </button>
        </li>
        <li>
          <button type="button" class="tabs__btn" data-tab="form-individual">
            Individual
          </button>
        </li>
      </ul>
    </div>

    <div class="partners__body">
      <div class="partners__form">
        <form
          class="form submitForm tabs__cont isActive isAnim"
          id="form-corporate"
        >
          <div class="form__box">
            <label class="label__def">
              <p>Full Name</p>
              <span>
                <input
                  type="text"
                  name="fullname"
                  placeholder="Type here"
                  data-required="true"
                />
              </span>
            </label>
            <label class="label__def">
              <p>E-mail adress</p>
              <span>
                <input
                  type="email"
                  name="email"
                  placeholder="Type here"
                  data-required="true"
                />
              </span>
            </label>
            <label class="label__def">
              <p>Company name</p>
              <span>
                <input
                  type="text"
                  name="companyname"
                  placeholder="Type here"
                  data-required="true"
                />
              </span>
            </label>
            <label class="label__def">
              <p>Discribe the topic</p>
              <span>
                <textarea
                  name="mess"
                  rows="3"
                  placeholder="Type here"
                ></textarea>
              </span>
            </label>
          </div>

          <div class="form__bottom">
            <button type="submit" class="btn-def bg-bl">
              <span>submit</span>
            </button>
            <div class="form__desc">
              <p>
                By submitting the form, you consent to receive updates, offers,
                and important info per our
                <a href="./policy.html">Privacy Policy</a>
              </p>
            </div>
          </div>
        </form>

        <form class="form submitForm tabs__cont" id="form-individual">
          <div class="form__box">
            <label class="label__def">
              <p>NameNameName</p>
              <span>
                <input
                  type="text"
                  name="fullname"
                  placeholder="Type here"
                  data-required="true"
                />
              </span>
            </label>
            <label class="label__def">
              <p>E-mail adress</p>
              <span>
                <input
                  type="email"
                  name="email"
                  placeholder="Type here"
                  data-required="true"
                />
              </span>
            </label>
            <label class="label__def">
              <p>Company name</p>
              <span>
                <input
                  type="text"
                  name="companyname"
                  placeholder="Type here"
                  data-required="true"
                />
              </span>
            </label>
            <label class="label__def">
              <p>Discribe the topic</p>
              <span>
                <textarea
                  name="mess"
                  rows="3"
                  placeholder="Type here"
                ></textarea>
              </span>
            </label>
          </div>

          <div class="form__bottom">
            <button type="submit" class="btn-def bg-bl">
              <span>submit</span>
            </button>
            <div class="form__desc">
              <p>
                By submitting the form, you consent to receive updates, offers,
                and important info per our
                <a href="./policy.html">Privacy Policy</a>
              </p>
            </div>
          </div>
        </form>
      </div>

      <div class="process">
        <h3 class="tl4">Onboarding Process</h3>
        <ul class="process__list">
          <li>
            <div class="process__num">
              <span>01</span>
            </div>
            <div class="process__box">
              <h4 class="tl5">Submit the Application Form</h4>
              <div class="txt3 tch">
                <p>Provide your basic details through our online form.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="process__num">
              <span>02</span>
            </div>
            <div class="process__box">
              <h4 class="tl5">Initial Contact</h4>
              <div class="txt3 tch">
                <p>Our team will reach out to discuss your needs and goals.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="process__num">
              <span>03</span>
            </div>
            <div class="process__box">
              <h4 class="tl5">Tailored Solution</h4>
              <div class="txt3 tch">
                <p>
                  We will identify the most suitable solution for your business.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="process__num">
              <span>04</span>
            </div>
            <div class="process__box">
              <h4 class="tl5">Compliance Verification</h4>
              <div class="txt3 tch">
                <p>
                  Complete the KYB/KYC process to ensure regulatory compliance.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="process__num">
              <span>05</span>
            </div>
            <div class="process__box">
              <h4 class="tl5">Agreement & Activation</h4>
              <div class="txt3 tch">
                <p>Sign the service agreement and begin working with us.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
