<section class="product pdt1">
  <div class="product__container">
    <div class="product__heading">
      <h2 class="tl2">Our Product Line</h2>
      <div class="txt1 tch">
        <p>
          Secure transactions, seamless asset management, and advanced trading
          services — built for efficiency, security, and growth.
        </p>
      </div>
    </div>

    <ul class="product__cards">
      <li class="card-prod brgrad">
        <div class="card-prod__box">
          <div class="card-prod__content">
            <span class="card-prod__mark">40+ Currency Variations</span>
            <h3 class="tl3">Finance Solutions</h3>
            <div class="txt3 tch">
              <p>
                Our brokerage solutions offer multi-currency sub-accounts, legal
                assistance, wire transfers (global & domestic), currency
                exchange, and API access.
              </p>
            </div>
            <a href="#" class="btn-def bg-bl"><span>learn more</span></a>
          </div>

          <div class="graph">
            <div class="graph__img no-select">
              <img src="./img/content/graph_1.png" alt="" />
            </div>
            <ul class="graph__info">
              <li>47 Inbound</li>
              <li>70+ Outbound</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="card-prod brgrad">
        <div class="card-prod__box">
          <div class="card-prod__content">
            <span class="card-prod__mark">High Liquidity for B2B Trading</span>
            <h3 class="tl3">OTC Crypto Deck</h3>
            <div class="txt3 tch">
              <p>
                Our OTC Crypto Deck offers crypto on/off-ramp operations,
                large-scale OTC trading, high liquidity for B2B clients, and
                supports SWIFT and SEPA payments.
              </p>
            </div>
            <a href="#" class="btn-def bg-bl"><span>learn more</span></a>
          </div>

          <div class="graph">
            <div class="graph__img no-select">
              <img src="./img/content/graph_2.png" alt="" />
            </div>
            <ul class="graph__info">
              <li>CEXs</li>
              <li>DEXs</li>
              <li>Liquidity provides</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="card-prod brgrad">
        <div class="card-prod__box">
          <div class="card-prod__content">
            <span class="card-prod__mark">300+ Tokens Supported</span>
            <h3 class="tl3">Crypto Wallet</h3>
            <div class="txt3 tch">
              <p>
                Our crypto wallet offers crypto purchases via bank cards, APM
                integrations, secure client fund storage, crypto exchange,
                alternative payment methods, wire transfers, deposits and
                withdrawals, and access to 300+ tokens.
              </p>
            </div>
            <a href="#" class="btn-def bg-bl"><span>learn more</span></a>
          </div>

          <div class="graph">
            <div class="graph__img no-select">
              <img src="./img/content/graph_3.png" alt="" />
            </div>
            <ul class="graph__wallet">
              <li>
                <img src="./img/content/wallet_1.png" alt="" />
              </li>
              <li>
                <img src="./img/content/wallet_2.png" alt="" />
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
