<div class="modal" id="idSuccess">
  <div class="modal__container containerModal">
    <div class="modal__body">
      <button
        type="button"
        class="modal__close closeModal"
        aria-label="Close modal window"
      ></button>
      <!-- <button type="button" class="btn-def openModal" data-id="idSuccess">
        button
      </button> -->

      <div class="success">
        <div class="success__ico">
          <img src="./img/content/modal_1.png" alt="" />
        </div>
        <h2 class="tl4">Submission Successful!</h2>
        <div class="txt3 tch">
          <p>
            Thank you! Your form has been submitted successfully. We’ll be in
            touch soon.
          </p>
        </div>
        <button type="button" class="btn-def bg-bl closeModal">
          <span>Back to home</span>
        </button>
      </div>
    </div>
  </div>
</div>
